Repository sea-code-labs/lib-design-tokens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, eslint, stylelint

SC-0 test: initial commit 1.0.0
  .husky/commit-msg
  .husky/pre-commit
  README.md
  angular.json
  package-lock.json
  package.json
  projects/libs/test-lib/README.md
  projects/libs/test-lib/ng-package.json
  projects/libs/test-lib/package.json
  projects/libs/test-lib/src/lib/test-lib.component.spec.ts
  projects/libs/test-lib/src/lib/test-lib.component.ts
  projects/libs/test-lib/src/lib/test-lib.service.spec.ts
  projects/libs/test-lib/src/lib/test-lib.service.ts
  projects/libs/test-lib/src/public-api.ts
  projects/libs/test-lib/tsconfig.lib.json
  projects/libs/test-lib/tsconfig.lib.prod.json
  projects/libs/test-lib/tsconfig.spec.json
  projects/libs/test-lib2/README.md
  projects/libs/test-lib2/ng-package.json
  projects/libs/test-lib2/package.json
  projects/libs/test-lib2/src/lib/test-lib2.component.spec.ts
  projects/libs/test-lib2/src/lib/test-lib2.component.ts
  projects/libs/test-lib2/src/lib/test-lib2.service.spec.ts
  projects/libs/test-lib2/src/lib/test-lib2.service.ts
  projects/libs/test-lib2/src/public-api.ts
  projects/libs/test-lib2/tsconfig.lib.json
  projects/libs/test-lib2/tsconfig.lib.prod.json
  projects/libs/test-lib2/tsconfig.spec.json
Due: prettier --config ./.prettierrc --write, eslint

SC-0 test: test pipeline 1.0.0
  README.md
Due: none

SC-0 test: test pipeline 1.0.1
  bitbucket-pipelines.yml
Due: none

SC-0 test: test pipeline 1.0.2
  bitbucket-pipelines.yml
Due: none

SC-24 feat: create colors library with theme service 1.0.0
  README.md
  angular.json
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/README.md
  projects/libs/colors/ng-package.json
  projects/libs/colors/package.json
  projects/libs/colors/src/public-api.ts
  projects/libs/colors/src/theme-factory/models/theme.type.ts
  projects/libs/colors/src/theme-factory/theme-service.spec.ts
  projects/libs/colors/src/theme-factory/theme.service.ts
  projects/libs/colors/src/theme-factory/themes/default-dark.theme.ts
  projects/libs/colors/src/theme-factory/themes/default-light.theme.ts
  projects/libs/colors/src/theme-factory/themes/themes.index.ts
  projects/libs/colors/tsconfig.lib.json
  projects/libs/colors/tsconfig.lib.prod.json
  projects/libs/colors/tsconfig.spec.json
  tsconfig.json
Due: prettier --config ./.prettierrc --write, eslint

SC-24 feat: create colors library with theme service 1.0.1
  .husky/pre-commit
  .lintstagedrc
  husky-mod.js
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/README.md
  projects/libs/colors/ng-package.json
  projects/libs/colors/package.json
  projects/libs/colors/src/styles.scss
  projects/libs/colors/src/theme-factory/models/theme.type.ts
  projects/libs/colors/src/theme-factory/theme-service.spec.ts
  projects/libs/colors/src/theme-factory/theme.service.ts
  projects/libs/colors/src/theme-factory/themes/default-dark.theme.ts
  projects/libs/colors/src/theme-factory/themes/default-light.theme.ts
Due: prettier --config ./.prettierrc --write, eslint, stylelint

SC-33 feat: updated colors 1.0.0
  bitbucket-pipelines.yml
  package.json
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/README.md
  projects/libs/colors/package-lock.json
  projects/libs/colors/package.json
  projects/libs/colors/src/styles.scss
  projects/libs/colors/src/theme-factory/models/theme.type.ts
  projects/libs/colors/src/theme-factory/theme-service.spec.ts
  projects/libs/colors/src/theme-factory/theme.service.ts
  projects/libs/colors/src/theme-factory/themes/default-dark.theme.ts
  projects/libs/colors/src/theme-factory/themes/default-light.theme.ts
Due: prettier --config ./.prettierrc --write, eslint, stylelint

SC-33 feat: updated colors 1.0.1
  projects/libs/colors/src/theme-factory/theme.service.ts
Due: prettier --config ./.prettierrc --write, eslint

SC-33 feat: updated colors 1.0.2
  bitbucket-pipelines.yml
Due: none

SC-33 feat: updated colors 1.0.3
  bitbucket-pipelines.yml
  projects/libs/colors/README.md
  projects/libs/colors/package.json
Due: none

SC-33 feat: updated colors 1.0.4
  bitbucket-pipelines.yml
Due: none

SC-33 feat: updated colors 1.0.5
  bitbucket-pipelines.yml
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/README.md
  projects/libs/colors/package.json
  tsconfig.json
Due: none

SC-33 feat: updated colors 1.0.6
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/src/theme-factory/models/theme.type.ts
Due: prettier --config ./.prettierrc --write, eslint

SC-0 refactor: refactor publishing by pipeline 1.0.0
  bitbucket-pipelines.yml
Due: none

SC-0 refactor: cleanup 1.0.0
  .stylelintrc
  README.md
  package-lock.json
  package.json
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/README.md
  projects/libs/colors/package-lock.json
  projects/libs/colors/package.json
  scripts/build-libs.js
  scripts/stylelint.sh
Due: none

SC-0 refactor: cleanup 1.0.1
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/README.md
  projects/libs/colors/package.json
Due: none

SC-0 refactor: cleanup 1.0.2
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/README.md
  projects/libs/colors/package.json
Due: none

SC-0 refactor: cleanup 1.0.4
  projects/libs/colors/package.json
Due: none

SC-34 feat: create spacing library 1.0.0
  angular.json
  projects/libs/colors/README.md
  projects/libs/spacing/CHANGELOG.md
  projects/libs/spacing/README.md
  projects/libs/spacing/ng-package.json
  projects/libs/spacing/package.json
  projects/libs/spacing/src/public-api.ts
  projects/libs/spacing/src/styles.scss
  projects/libs/spacing/tsconfig.lib.json
  projects/libs/spacing/tsconfig.lib.prod.json
  tsconfig.json
Due: prettier --config ./.prettierrc --write, eslint, stylelint

SC-34 feat: create spacing library 1.0.1
  projects/libs/colors/README.md
  projects/libs/spacing/README.md
  projects/libs/spacing/src/styles.scss
Due: stylelint

SC-34 feat: create spacing library 1.0.2
  projects/libs/colors/package.json
  projects/libs/spacing/package.json
Due: none

SC-34 feat: create spacing library 1.0.3
  projects/libs/spacing/README.md
  projects/libs/spacing/package.json
Due: none

SC-35 feat: created typography library 1.0.0
  README.md
  angular.json
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/package.json
  projects/libs/spacing/CHANGELOG.md
  projects/libs/spacing/README.md
  projects/libs/spacing/src/styles.scss
  projects/libs/typography/CHANGELOG.md
  projects/libs/typography/README.md
  projects/libs/typography/ng-package.json
  projects/libs/typography/package.json
  projects/libs/typography/src/public-api.ts
  projects/libs/typography/src/styles.scss
  projects/libs/typography/tsconfig.lib.json
  projects/libs/typography/tsconfig.lib.prod.json
  tsconfig.json
Due: prettier --config ./.prettierrc --write, eslint, stylelint

SC-35 feat: created typography library 1.0.1
  projects/libs/spacing/src/styles.scss
  projects/libs/typography/README.md
  projects/libs/typography/src/styles.scss
Due: stylelint

SC-0 refactor: update README 1.0.0
  projects/libs/colors/CHANGELOG.md
  projects/libs/colors/README.md
  projects/libs/colors/package.json
  projects/libs/spacing/CHANGELOG.md
  projects/libs/spacing/README.md
  projects/libs/spacing/package.json
  projects/libs/spacing/src/styles.scss
  projects/libs/typography/CHANGELOG.md
  projects/libs/typography/README.md
  projects/libs/typography/package.json
Due: stylelint

Path conditions:
  prettier --config ./.prettierrc --write: any of: projects/**/*.ts
  eslint: any of: projects/**/*.ts
  stylelint: any of: projects/**/*.scss
